@model Avaliacao3LP3.ViewModels.LojasViewModel

@{
    ViewData["Title"] = "Detalhes Loja";
}

<h1>Nome: @Model.Nome</h1>

<p>
	Piso:@Model.Piso
</p>

<p>
	Email:@Model.Email
</p>

<p>
	Descrição:@Model.Descricao
</p>

<p>
	Se deseja remover, clique aqui: <a href="Deletar">Deletar</a>
</p>